In [1]:
a = 10
b = 4

#mathematical operators

print('a + b =',a+b) #addition

print('a - b =',a-b) #substraction

print('a * b =',a*b) #multiplication

print('a / b =',a/b) #division(returns complete ans)

print('a // b =',a//b) #Floor division(integer divion)

print('a ** b =',a**b) #Exponentiation

a + b = 14
a - b = 6
a * b = 40
a / b = 2.5
a // b = 2
a ** b = 10000

In [2]:
a = 20
b = 15

#comparision 

print('a > b is',a>b) #Greater than

print('a < b is',a<b) #Less than

print('a == b is',a==b) #Equal

print('a != b is',a!=b) #Not equal

print('a >= b is',a>=b) #Greater than or equal to

print('a <= b is',a<=b) #Less than or equal to

a > b is True
a < b is False
a == b is False
a != b is True
a >= b is True
a <= b is False

In [3]:
x = 6

#logical operator

print('x is ',x > 10 and x < 10)    #and operator

print('x is',x > 10 or x < 10)    #or operator

print('not x is',not (x > 10 and x < 10))   #not operator

x is  False
x is True
not x is True

In [4]:
x = 5
y = -5

# print bitwise right shift operator
print("x >> 1 =", x >> 1)
print("y >> 1 =", y >> 1)

x = 5
y = -10

# print bitwise left shift operator
print("x << 1 =", x << 1)
print("y << 1 =", y << 1)

x >> 1 = 2
y >> 1 = -3
x << 1 = 10
y << 1 = -20

In [5]:
p1 = 10
q1 = 10
p2 = 'Asad'
q2 = 'Asad'
p3 = [4,5,6]
q3 = [4,5,6]

print(p1 is not q1)

print(p2 is q2)

print(p3 is not q3)

False
True
True

In [6]:
#for Loop
fruits = ["apple", "mango", "banana"]
for x in fruits:
  print(x)

apple
mango
banana

In [7]:
# range
print(range(10))

print(list(range(10)))

print(list(range(1, 10)))

print(list(range(2, 10, 3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 5, 8]

In [9]:
# while 
count = 0
while (count < 3):
    count = count + 1
    print("Hello")

Hello
Hello
Hello